.entry-list-container {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    
    
    .entry-list-items {
        background-color: #69d3cf;
        padding: 0.5rem;
        width: 100%;
        // display: flex;
    // justify-content: space-between;
    }
}