@import './../../styles/variables.scss';

.log-in-container {
    // background-image: $backdrop-gradient-color;
    // width: 55%;
    // max-width: 1140px;
    // padding: 15px;
    // margin: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // height: 50%;
    // margin-top: 10vh;

    h1,
    label {
        color: $dark-text-color;
    }

    label {
        padding-left: 0.5rem;
    }

    .error-messages-container {
        width: 80%;
        margin: auto;
        padding-bottom: 1rem;

        h3 {
            color: red;
        }

        ul {
            color: $dark-text-color;
        }
    }

    .log-in-text {
        text-align: center;
    }

    .label-text {
        font-weight: bold;
        margin-left: -7px;
    }

    .input-field {
        width: 30vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 2vh;

        input:focus {
            background-color: red;
        }
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;

            .create-account-button {
                font-weight: bold;
                width: 100%;
                padding: 10px 25px 10px 25px;
                border: none;
                color: $dark-button-text-color;
            }

            .home-link,
            .sign-in-link {
                font-weight: bold;
                border: none;
                margin-top: 1rem;
                ;
                color: $dark-text-color;

                a {
                    padding: none;
                    text-decoration: none;
                    color: $dark-text-highlight-color;
                }
            }
        }
    }
}