@import './../../../styles/variables.scss';

.testimonial-container {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    // .max-picture {
    //     // margin: 2rem 0 2rem 0;
    // }
}
