@import './../../styles/variables.scss';

.pet-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .pet-card {
        padding: 0 0.5rem 0 0.5rem;

        h3 {
            text-align: center;
        }
    }
}