$primary-color: #B9D4D6;
$border-color: #66d9ff;
$dark-text-color: #000;
$light-text-color: #fff;


@mixin breakpoint($max-width) {
    @media only screen and (max-width: $max-width) {
        @content;
    }
}