@import './../../../../../styles/variables.scss';

.selected-pet-card {
    padding: 0 0.5rem 0 0.5rem;

    h3 {
        text-align: center;
        color: $light-text-highlight-color;
    }

    .go-back-button {
        @include button;
        &::before {
            content: '<';
            margin-right: 1rem;
            font-weight: bold;
        }
    }

    img {
        margin-bottom: 1rem;
    }
}
