@import './../../styles/variables.scss';

.sticky-button-container {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 20px;

    .sticky-button {
        @include button;
        width: 200px;
    }
}