@import './../../styles/variables.scss';

.sticky-button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;

    .sticky-button {
        @include button;
        width: 200px;
    }
}