@import './../../styles/variables.scss';

.card-container {
    background-color: #FCFCFC;
    @include box-shadow;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-top: 5rem;
    margin-bottom: 5rem;;
}