@import './../../styles/variables.scss';

.testimonial-container {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }
}

.testimonial-home-link {
    a {
        @include link-text;
    }
}