.container {
    padding: 20px;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
}

.button-container {
    float: right;
}

.button-style {
    padding: 5px;
    margin-left: 10px;
}

.navigation-link-text {
    text-decoration: none;
    font-weight: bold;
    color: #5e9ca1;
    padding: 7px;
    padding-left: 28px;
    padding-right: 28px;

}

.webpage-name {
    font-weight: bold;
    color: #5e9ca1;
    font-size: 22px;
}