@import './../../styles/variables.scss';

.sign-up-container {
    background-color: $primary-color;
    width: 40%;
    max-width: 1140px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-radius: 2%;
    margin-top: 10vh;

    .error-messages-container {
        width: 80%;
        margin: auto;
        padding-bottom: 1rem;

        h3 {
            color: red;
        }
    }

    .create-account-button,
    .home-button {
        font-weight: bold;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-color: $border-color;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    .sign-up-text {
        text-align: center;
    }

    .label-text {
        font-weight: bold;
        margin-left: 5px;
    }

    .input-field {
        width: 30vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 2vh;
        border: 2px solid $border-color;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

    }

}