@import './../../styles/variables.scss';

.add-entry-button-container {
    // height: 300px;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;

    .add-entry-button {
        // height: 20px;
        @include button;
        width: 200px;
    }

}